/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/zatca/*.pem
/storage/zatca/*.key
/vendor
.env
.env.backup
.env.production.backup
.phpunit.result.cache
Dockerfile
docker-compose.override.yml
Duskfiles/Chrome-profile
.DS_Store
/.idea
/.vscode
.editorconfig
*.log
